/* Contains all of the CSS for the three HTML files */
html {
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: burlywood;
  padding: 24px;
}

body {
  margin: 0;
}

header {
  padding: 24px;
}

img {
}

.book-cover {
  height: auto;
  width: 200px;
}

.main-page-book-review {
  background-color: white;
  padding: 24px;
  border: 1px solid lightblue;
}

main {
  max-width: 800px;
  margin: auto;
}

.book-rating {
  font-size: 125%;
}

.book-authors {
  color: dimgray;
}
